*{
  margin: 0;
  padding: 0;
  
  color: rgb(32, 0, 0);
  font-family: "poppins";
}

html body{ 
  height: 100%;
  width: 100%;
}

.header{
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.nav-right{
  margin-left: 640px;
  line-height: 35px;
}
.bg-class{
  background-image: url("images/yellow-bg.png");
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



.navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  margin-right: 20px;
}
.navbar ul li  a{
  text-decoration: none;
  font-weight: 600;
  font-size: large;
}
/* .logo{

} */

.page1{
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left1 .good-time {
  font-size: 23px;
  font-weight: 500;
  border:  rgb(32, 0, 0);
  border-style: dashed;
  border-width: 3px;
  padding: 5px;
}


.left1 .burger-week{
  font-size: 150px;
  font-weight: 800;
  margin-top: -30px;
}
h1{
  text-shadow: 5px 5px white;
}
.left1 .week{
  font-size: 75px;
  font-weight: 800;
  margin-top: -40px;
}
h2{
  text-shadow: 5px 5px white;
}
.under{
  position: relative;
}
.over{
  position: absolute;
  margin-left: -554px;
  margin-top: 445px;
}
#page2{
  margin-top: 50px;
  padding-left: 85px;
  min-height: 100vh;
  width: auto;
}

.part1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.part1left{
  padding-right: 25px;
}
.part1right{
  padding-top: 5px;
  line-height: 53px;
}
.part2{
  margin-top: 50px;
  text-align: center;
}
.part2-btn{
  color: rgb(32, 0, 0);
  background-color: #FFC649;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.part2-heading{
  margin-top: 30px;
  font-size: 58px;
  font-weight: 800;
  color: rgb(32, 0, 0);
}
.part2 p{
  color: rgb(32, 0, 0);
}

.part3{
  margin-top: 60px;
}
.burgers{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burgerContent{
  padding-right: 60px;
  text-align: center;
}
.burger-heading{
  color: rgb(32, 0, 0);
  margin-top: 15px;
  font-size: 28px;
}
.burgerContent p{
  color: rgb(32, 0, 0);
}
.part3-btn{
  margin-top: 40px;
  background-color: #E52D2F;
  color: white;
  font-weight: 800;
  border: none;
  padding: 13px 26px;
  font-size: 15px;
}
.part4{
  padding-right: 50px;
  margin-top: 50px;
}
.part4card{
padding-top: 20px;
padding-bottom: 20px;
  /* border: 1px solid black; */
  box-shadow: 1px 6px 6px 5px rgb(174, 174, 174);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 18px;
  padding-left: 18px;
}
.part4left{
  width: 50%;
}
.part4right{
  width: 45%;
}
.heading1{
  color: rgb(32, 0, 0);
  font-size: 25px;
}
.heading2{
  color: rgb(32, 0, 0);
  font-size: 45px;
  font-weight: 800;
}
.part4 p{
  font-size: 20px;
}
#dots{
  display: flex;
  margin-top: 60px;
}
.dot{
  height: 15px;
  width: 15px;
  background-color: rgb(199, 192, 192);
  border-radius: 50%;
  margin: 5px;
  
}
.dot:nth-child(1){
  background-color: #FFC649;
}

.container{
  background-image: url("images/part-5-bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100%;
  /* margin-left: -20px; */
}
 .part5-heading1{
  color: rgb(32, 0, 0);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding-top: 80px;
  
}
.part5-heading2{
  color: rgb(32, 0, 0);
  font-size: 55px;
  font-weight: 800;
  text-align: center;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.form .left-form{
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 20px;
  padding-right: 10px;
}
.form .right-form{
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 20px;
}
.form input{
  font-size: 30px;
  padding: 10px;
  padding-left: 15px;
  color: rgb(32, 0, 0);
  font-weight: 500;
}
.part5-btn{
  background-color: #E52D2F;
  color: white;
  font-weight: 800;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px; 
  font-size: 21px;
}

footer{
  position: relative;
  width: 100%;
  bottom: 0;
}
.footer{
  background-image: url("images/footer-bg-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-position: relative;
}
.footerContent{
  width: 45%;
  padding-left: 50px;
  padding-top: 70px;
}
.footerContent p{
  padding-top: 40px;
  color: white;
}
.footer-bottom{
  padding-top: 170px;
}
.footer-bottom .copyright{
  color: white;
  padding-left: 50px;
}
